<template>
    <!-- <div id="preview">
        <canvas width="760" height="300" class="canvas-preview" style="width: 380px; height: 150px;"></canvas>
        <div id="preview-textfield" class="reset" style="font-size: 41px;">1,250</div>
    </div> -->
    <lightning-card title="KYC Risk Summary" style='height:200px'>
        <div class='slds-clearfix'>
            <div class="slds-p-horizontal_small slds-float_left" style='width:40px;'>
                <canvas class='gauge' width="250" height="150" style='
                    width: 200px; 
                    height: 100px;
                '></canvas>
                <div style='
                    width: 200px;
                    text-align: center;
                    font-weight: 400;
            '>Risk Score Rating: {rating}
                </div>
            </div>
            <div class='slds-float_right' style='padding:3em'>
                <div>Score: {score}</div>
                <div>Next Review Date: {nextReviewDate}</div>
            </div>
        </div>
    </lightning-card>
</template>